<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feladatok</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>Feladatok</h1>

    <div class="box">
        <% for (let i = 0; i < lista.length; i++) { %>
            <form action="/delete" method="POST">
            <div class="item">
                <label>
                    <input type="checkbox" onchange="form.submit()"
                    name="id" value="<%= lista[i].id%>">
                    <span> <%=lista[i].feladat %></span>
                </label>
            </div>
        </form>
        <% } %>

        <form class="item" action="/" method="POST">
            <input type="text" name="ujElem" placeholder="Új feladat">
            <button type="submit"> + </button>
        </form>

    </div>

    </div>
</body>
</html>